<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id ="main_menu" class = "red makeBigger">
<h1><span class = "red makeBigger centuryGothic">R</span>ohit's Homepage </h1>
</div>
<div id ="main_content">
    <p><span class = "red makeBigger centuryGothic">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Sollicitudin ac orci phasellus egestas. Aliquet lectus proin nibh nisl condimentum id. Vitae proin sagittis
    nisl rhoncus. Dignissim sodales ut eu sem integer vitae. Risus viverra adipiscing at in tellus integer. Nibh sit
    amet commodo nulla facilisi. Mus mauris vitae ultricies leo integer. Nulla pellentesque dignissim enim sit amet
    venenatis urna cursus eget. Sit amet mattis vulputate enim. Volutpat ac tincidunt vitae semper quis lectus. Vivamus
    at augue eget arcu. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Ut tristique et egestas
    quis ipsum suspendisse ultrices. Blandit turpis cursus in hac habitasse.
    </p>
    <p>
    Sit amet dictum sit amet justo donec enim diam. Nunc id cursus metus aliquam eleifend. Ut porttitor leo a diam
    sollicitudin tempor id eu. Sit amet nisl suscipit adipiscing bibendum. Egestas maecenas pharetra convallis posuere
    morbi leo urna molestie at. Eget sit amet tellus cras adipiscing. Congue mauris rhoncus aenean vel elit scelerisque.
    Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Elementum facilisis leo vel
    fringilla. Est ante in nibh mauris cursus mattis. In arcu cursus euismod quis viverra nibh cras. At lectus urna duis
    convallis convallis. Mauris commodo quis imperdiet massa. Etiam sit amet nisl purus in mollis nunc. Elementum nisi
    quis eleifend quam adipiscing vitae. Gravida dictum fusce ut placerat orci nulla pellentesque. Gravida cum sociis
    natoque penatibus et magnis dis parturient montes. Eu facilisis sed odio morbi quis. Habitant morbi tristique
    senectus et netus et malesuada. Donec enim diam vulputate ut pharetra.
    </p>
    <p>
    Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor condimentum lacinia quis vel eros donec. At lectus
    urna duis convallis. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Nunc faucibus a
    pellentesque sit amet. Neque egestas congue quisque egestas diam in arcu cursus. Lacus sed turpis tincidunt id.
    Lacinia at quis risus sed vulputate odio. Tincidunt dui ut ornare lectus. Volutpat ac tincidunt vitae semper quis
    lectus. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. In hac habitasse platea dictumst quisque
    sagittis. Tellus orci ac auctor augue.
    </p>
    <p>
    Malesuada fames ac turpis egestas sed tempus. Consequat mauris nunc congue nisi vitae. Odio ut sem nulla pharetra
    diam sit amet nisl suscipit. Quis blandit turpis cursus in. Fames ac turpis egestas integer eget aliquet. Diam
    maecenas sed enim ut sem viverra aliquet eget. Feugiat scelerisque varius morbi enim nunc faucibus. Felis donec et
    odio pellentesque diam volutpat commodo sed egestas. Mattis vulputate enim nulla aliquet porttitor lacus luctus
    accumsan. In eu mi bibendum neque. Est sit amet facilisis magna etiam tempor. Faucibus purus in massa tempor nec
    feugiat nisl pretium. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Cursus euismod quis viverra
    nibh cras pulvinar. Feugiat nibh sed pulvinar proin gravida. Eu ultrices vitae auctor eu augue ut. Eget gravida cum
    sociis natoque penatibus et magnis dis. Eget gravida cum sociis natoque penatibus. Leo duis ut diam quam nulla
    porttitor massa.
    </p>
    <p>
    Est sit amet facilisis magna etiam tempor. Eget gravida cum sociis natoque. Nunc mi ipsum faucibus vitae. Est sit
    amet facilisis magna etiam tempor orci eu. Donec pretium vulputate sapien nec. Condimentum lacinia quis vel eros
    donec ac. Massa vitae tortor condimentum lacinia quis vel eros donec. Non diam phasellus vestibulum lorem sed risus
    ultricies tristique nulla. Rhoncus dolor purus non enim. Tortor id aliquet lectus proin nibh nisl condimentum id
    venenatis. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Erat imperdiet sed euismod nisi porta
    lorem mollis. A arcu cursus vitae congue mauris rhoncus. Elit pellentesque habitant morbi tristique senectus et
    netus et malesuada. Iaculis urna id volutpat lacus laoreet. Eleifend mi in nulla posuere sollicitudin aliquam
    ultrices sagittis orci. Et ligula ullamcorper malesuada proin libero nunc. Cursus in hac habitasse platea.
    </p>
</div>

</body>
</html>
